.jumbotron {
    background-color: #ED6A5A;
    color: white;
    margin-top: 55px
}

footer {
    background-color: #F4F1BB;
    height: 100%;
}

.grid-layout {
    background-color: #f3fffd;
}
.tabla-inicio {
    background-color: #5a5960;
    color: whitesmoke;
}
.contenido {
    margin-right: 1em;
    margin-bottom: 1em;
}
